.pagination {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
	user-select: none;
}

.pagination svg {
	cursor: pointer;
}

.transactions {
	margin: 1% 0;
	height: 100%;
	width: 100%;
}

.transactions h1 {
	text-align: center;
}

.transactions ul {
	list-style: none;
	overflow: hidden;
	padding: 0 2%;
}

