:root {
	--container: #5a6186;
	--containers-child: #f8f8f7;
}

.container {
	background-color: var(--container);
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 900px;
	margin: 10px auto;
}

.container * {
	background-color: var(--containers-child);
}

.top {
	background-color: var(--container);
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.top-left {
	background-color: var(--container);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
}

.top-right {
	width: 60%;
}

@media (max-width: 991.98px) {
	.container {
		width: 100%;
	}
}
@media (max-width: 767.98px) {
	.container {
		padding: 0;
		margin-top: 0;
	}
	.top {
		flex-direction: column-reverse;
		width: 100%;
	}

	.top-left {
		gap: 10px;
		flex-direction: column;
		width: 100%;
	}

	.top-right {
		width: 100%;
	}

	.row {
		flex-direction: column;
	}
}
