:root {
	--input-border: #8f8f8f;
}

.filter {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 10px 0;
	gap: 10px;
}

.filter input {
	height: 30px;
	width: 75%;
	border: 1px solid var(--input-border);
	border-radius: 16px;
	text-align: center;
	outline: none;
}
.filter input::placeholder {
	text-align: center;
}
