:root {
	--submit-button: #49548b;
}

.form {
	overflow: hidden;
}
.form h1 {
	text-align: center;
	padding: 10px 0;
}

.inputs {
	width: fit-content;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}

.buttons {
	display: flex;
	justify-content: center;
	margin: auto;
	gap: 10px;
	outline: none;
	padding: 15px 0;
}

.buttons input:hover {
	cursor: pointer;
}

.buttons input {
	width: 121px;
	height: 29px;
	background-color: var(--submit-button);
	color: white;
	border: none;
	border-radius: 16px;
}

.alert {
	display: flex;
	align-items: center;
	cursor: pointer;
	white-space: nowrap;
}

@media (max-width: 767.98px) {
	.buttons {
		width: 80%;
	}
}
