:root {
	--navbar-color: #5a6186;
}

.navbar {
	background-color: var(--navbar-color);
	color: white;
	font-weight: 700;
	padding: 5px 0;
	width: 100%;
}

.navbar p {
	margin: 0 auto;
	font-size: 1.5rem;
	user-select: none;
}

.navbar-logo {
	display: flex;
	justify-content: center;
	gap: 15px;
}
.navbar-logo * {
	margin: auto 0;
}

.navbar-logo-title {
	text-align: center;
}
